* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* img {
  width: 100%;
  height: auto;
  display: block;
} */

/* @font-face {
  font-family: "tekolight";
  src: url("fonte/teko-variablefont_wght-webfont.woff2") format("woff2"), url("fonte/teko-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

body {
  background-color: #fff7ec;
  padding: 20px;
}

.container {
  display: grid;
  width: 100%;
  height: 500px;
  padding-bottom: 20px;
  padding-top: 20px;
}

/* Tekst på billede */
.overlay-text {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* Juster farven efter billedet for bedre kontrast */
  /* padding: 2px; */
  background: rgba(240, 220, 220, 0.805); /* Gennemsigtig baggrund for tekst */
  max-width: 80%; /* Juster bredden efter behov */
  padding: 30px;
}

/* Baggrunds billede */
.baggrundfoto {
  object-fit: cover;
  width: 100%;
  height: 100%;
  max-height: 500px;
}

/* Header */
h1 {
  color: #c8a1a1;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  letter-spacing: 3px;
}

h2 {
  color: #c8a1a1;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 25px;
}

h3 {
  color: #4f4040;
  font-family: "Josefin Sans", sans-serif;
  padding-bottom: 25px;
}

p {
  color: #4f4040;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

p.main-text {
  padding-bottom: 25px; /* Tilføj padding kun til dette <p> element */
}

/* Video */
iframe {
  width: 100%;
  height: auto;
  /* padding-top: 40px; */
  aspect-ratio: 16 / 9;
}

.video video {
  width: 100%;
  /* padding-bottom: 20px; */
  height: auto;
}

/* Foto */
.gallery {
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  padding: 20px; */

  display: flex;
  flex-flow: wrap;
  padding-top: 20px;
  gap: 1.5rem;
}

.gallery img {
  /* height: 100%;
  object-fit: cover; */

  width: 400px;
  height: 600px;
  object-fit: cover;
  flex-grow: 1;
  /* border-radius: 20px; */
  border: 5px solid #c8a1a1;
}

.layoutdiagram {
  border: 5px solid #c8a1a1;
  width: 100%; /* Fyld bredden af containeren */
  max-width: 500px; /* Sæt en maksimal bredde for at undgå, at det fylder hele siden */
  height: auto; /* Bevar aspektforholdet */
}

/* Footer */
footer {
  text-align: center;
  color: #c8a1a1;
  font-family: "Lilita One", sans-serif;
}
